<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
	<!-- <link rel="stylesheet" href="main.css"/> -->
	<!-- <script src="main.js"></script> -->
	
</head>
<body>
    
    <h1>Formulario</h1>
	
	<form method = "POST">
		{% csrf_token %}<!-- evita sql injection-->
		{{form.as_p}}<!-- Chama com paragrafos no form-->
		<button type="submit">Salvar</button>
		<a href="{%url 'listagem_url'%}">Voltar</a>
		{%if transacao%}
			<a href="{%url 'delete_url' transacao.id%}">Remover</a><!--transacao.id esta no view.py delete-->
		{% endif%}
	</form>
</body> 
</html> 